<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="west.twouse.language.sparqlas.resource.sparqlas.mopp.SparqlasMetaInformation" id="west.twouse.language.sparqlas.resource.sparqlas.mopp.SparqlasMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="west.twouse.language.sparqlas.resource.sparqlas.nature" name="sparqlas nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="west.twouse.language.sparqlas.resource.sparqlas.mopp.SparqlasNature" />
		</runtime>
		<builder id="west.twouse.language.sparqlas.resource.sparqlas.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="west.twouse.language.sparqlas.resource.sparqlas.builder" name="sparqlas Builder">
		<builder hasNature="true">
			<run class="west.twouse.language.sparqlas.resource.sparqlas.mopp.SparqlasBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="west.twouse.language.sparqlas.resource.sparqlas.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="west.twouse.language.sparqlas.resource.sparqlas.mopp.SparqlasResourceFactoryDelegator" type="sparqlas">
		</parser>
	</extension>
	
	<extension-point id="west.twouse.language.sparqlas.resource.sparqlas.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
