<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://west.uni-koblenz.de/owl2fs"
            class="west.twouse.language.owl2fs.Owl2fsPackage"
            genModel="metamodel/owl2fs.genmodel"/>
   </extension>

</plugin>
