<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="west.twouse.language.owl2fs.resource.owl2fs.mopp.Owl2fsMetaInformation" id="west.twouse.language.owl2fs.resource.owl2fs.mopp.Owl2fsMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="west.twouse.language.owl2fs.resource.owl2fs.nature" name="owl2fs nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="west.twouse.language.owl2fs.resource.owl2fs.mopp.Owl2fsNature" />
		</runtime>
		<builder id="west.twouse.language.owl2fs.resource.owl2fs.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="west.twouse.language.owl2fs.resource.owl2fs.builder" name="owl2fs Builder">
		<builder hasNature="true">
			<run class="west.twouse.language.owl2fs.resource.owl2fs.mopp.Owl2fsBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="west.twouse.language.owl2fs.resource.owl2fs.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="west.twouse.language.owl2fs.resource.owl2fs.mopp.Owl2fsResourceFactoryDelegator" type="owl2fs">
		</parser>
	</extension>
	
	<extension-point id="west.twouse.language.owl2fs.resource.owl2fs.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
